<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByHJ9f3F2K2hEq0teF_WP1dkWZrkIk48A</string>
	<key>GCM_SENDER_ID</key>
	<string>107122093657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sendmind.pacapaca</string>
	<key>PROJECT_ID</key>
	<string>pacapaca-25e00</string>
	<key>STORAGE_BUCKET</key>
	<string>pacapaca-25e00.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107122093657:ios:2b9fa9e99a7df6766a0b48</string>
</dict>
</plist>